<web-app>
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-mapping>/</url-mapping>
		<!-- <url-mapping>/index</url-mapping> -->
	</servlet-mapping>
	
	<!-- <welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list> -->
</web-app>